.topnav {
	background-color: #5f2929;
	overflow: hidden;
  }
  
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: cursive
  }
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  .active {
	background-color: #520d0d;
	color: white;
  }

  .container {
    margin: 0 auto;
    max-width: 100%;
    width: 70em;
}

html {
    box-sizing: border-box;
}

body {
    background: #f0f0f0;
}
body, input, textarea, select {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #777;
    line-height: 1.65em;
    font-size: 15pt;
}

#header {
    position: relative;
    position: relative;
    background: #fff;
    text-align: center;
}

    #header > .container {
        padding: 14em 0 7em 0;
        
        
    }

    #header h1 {
        font-family: 'Arvo';
        font-weight: 700;
        color: #ed786a;
        text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
        font-size: 3em;
        letter-spacing: 13px;
    }

        #header h1 a {
            border: 0;
        }

    #header p {
        text-transform: uppercase;
        font-weight: 400;
        color: #888;
        margin: 2.5em 0 0 0;
        font-size: 0.85em;
        letter-spacing: 3px;
        text-align: center;
    }
    .vertical-menu {
        width: 200px;
      }
      
      .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
      }
      
      .vertical-menu a:hover {
        background-color: #ccc;
      }
      
      .vertical-menu a.active {
        background-color: #4CAF50;
        color: white;
      }

      #banner {
        position: relative;
        color: #994141;
        text-align: center;
        background-size: cover;
        border-radius: 40px !important;
        
    }
    #banner p {
            font-weight: 400;
            font-size: 3em;
            line-height: 1.5em;
            letter-spacing: 4px;
            text-align: left;
            margin: 0;
        }
    
        #banner strong {
            color: inherit;
        }
    
        #banner > .container {
            position: relative;
        }
    
    #m {
        text-align: center !important;
    }
    
    /* Banner */
    
    #banner2 {
        position: relative;
        overflow: hidden;
        color: #994141;
        text-align: right;
        background-size: cover;
        background-image: linear-gradient(to right, rgba(255,0,0,0), #3e84adbb);
        border-radius: 40px !important;
        
    }
    
    #banner2 p {
            font-weight: 400;
            font-size: 2em;
            line-height: 1.5em;
            letter-spacing: 4px;
            text-align: left;
            margin: 0;
        }
    
        #banner2 strong {
            color: inherit;
        }
    
        #banner2 > .container {
            position: relative;
        }
    
    #e {
        color: #631616;
        background-color: #6d6c6c;
        padding: 10px;
        text-align: center !important;
        margin: 0px 250px 20px 250px !important;
    }
    #k {
        color: rgb(64, 122, 149);
        text-align: justify !important;
        margin: 0px 250px 20px 250px !important;
    }
    #p {
        color: hsl(202, 40%, 29%);
        text-align: justify !important;
        margin: 0px 250px 20px 250px !important;
    }
    
    #b {
        color: hsl(202, 40%, 29%);
        text-align: justify !important;
        margin: 0px 250px 20px 250px !important;
    }
    
    #s {
        color: rgb(64, 122, 149);
        text-align: justify !important;
        margin: 0px 250px 20px 250px !important;
    }
    
    #f {
        color:  rgb(64, 122, 149);
        text-align: justify !important;
        margin: 0px 250px 20px 250px !important;
    }

    section img {
        width: 40%;
        border-radius: 40px;
    }