.topnav {
	background-color: #5f2929;
	overflow: hidden;
  }
  
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: cursive
  }
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  .active {
	background-color: #520d0d;
	color: white;
  }

  .container {
    margin: 0 auto;
    max-width: 100%;
    width: 70em;
}

html {
    box-sizing: border-box;
}

body {
    background: #f0f0f0;
}
body, input, textarea, select {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #777;
    line-height: 1.65em;
    font-size: 15pt;
}

#header {
    position: relative;
    position: relative;
    background: #fff;
    text-align: center;
}

    #header > .container {
        padding: 14em 0 7em 0;
        
        
    }

    #header h1 {
        font-family: 'Arvo';
        font-weight: 700;
        color: #ed786a;
        text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
        font-size: 3em;
        letter-spacing: 13px;
    }

        #header h1 a {
            border: 0;
        }

    #header p {
        text-transform: uppercase;
        font-weight: 400;
        color: #888;
        margin: 2.5em 0 0 0;
        font-size: 0.85em;
        letter-spacing: 3px;
        text-align: center;
    }
    .vertical-menu {
        width: 200px;
      }
      
      .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
      }
      
      .vertical-menu a:hover {
        background-color: #ccc;
      }
      
      .vertical-menu a.active {
        background-color: #4CAF50;
        color: white;
      }
